<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <style>
      html,
      body {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
      <div class="users h-full">
        <div class="user max-w-60 p-4 rounded-lg bg-zinc-700">
          <div class="w-full h-44 rounded-lg bg-zinc-300"></div>
          <h3 class="text-lg mt-1 text-center font-mono">Siddharth Sahu</h3>
          <h3 class="text-base  text-center italic mb-2">sahusidd715@gmail.com</h3>
          <div class="flex justify-evenly">
            <a href="" class="text-sm text-slate-400">Edit User</a>
            <a href="" class="text-sm text-red-600">Delete User</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
